<li class="project-item" data-id="<%=project.id%>">
	<a class="link" href="#/projects/<%=project.id%>">
		<h2><%=project.name%></h2>
		<div class="project-photo" style="background-image: url(<%-project.image%>);"></div>
	</a>
	<div class="fullscreen">
		<div class="header-substitute">
			<a href="#/projects" class="reset back">Назад к кейсам</button>
		</div>
		<h2 class="title"><%=project.name%></h2>
		<section>
			<% project.images && project.images.forEach(function(url){ %>
				<div class="project-picture">
					<img src="<%-url%>">
				</div>
			<% }) %>
		</section>
	</div>
</li>
